/*Definindo fonte padrão dos textos do site e zerando margem*/
*{
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}
  
nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: hsl(0, 0%, 0%);
  
}
  
nav img  {
    width:6.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
  
nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}
  
nav a {
    text-decoration: none;
    color: #fff;
}
  
  
nav #toggle,
nav label {
    display: none;
}
  
.menu li:hover {
    color:  rgb(255, 72, 0);
}

.linha {
    border-bottom: 1px solid white;
}


/*Configurando tela para mobile, até 630px*/
@media (max-width: 630px)
  {

nav .menu {
        width: 100%;
        height: 0;
        overflow: hidden;
}
  
nav {
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    
}
  
nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
}
  
nav label {
    display: inline-flex;
    color: white;
    cursor: pointer;
}
  
nav label img {
    width: 3rem;
}
  
nav img  {
    margin-right: 0;
}
  
nav #toggle:checked ~ .menu {
    height: 100%;
}

.container-2-foto {
    display: none;
}
  }
/*TODOS OS CODIGOS ACIMA FORAM A ESTILIZAÇÃO DO HEADER-----------------------------------------*/



/*Defindo cor da letra e do fundo do corpo do site*/
body {
    background-color: rgb(0, 0, 0);
    color: white;
}

/*dando margem ao primeiro container*/
.container-1 {
    padding: 8px;
    padding-left: 10px;
    margin-top: 10px;
}

/*dando espaçamento no texto principal do container 1*/
.div-container-1-principal  {
    margin-top: 3rem;
    margin-left: 1rem;
}

/*dando espaçamento em baixo do titulo do texto principal do container 1*/
.div-container-1-principal h1 {
    padding-bottom: 1rem;
}

/*Alterando o tamanho e a cor da tag H1 - nome Gabriel*/
.gabriel {
    color: #00E6FF;
    font-size: 35px;
}

/*dando espaçamento em cima do titulo do texto Secundario do container 1*/
.div-container-1-secundario {
    margin-top: 3rem;
    margin-bottom: 9rem;
}

/*Definindo a largura das imagens e dando espaçamento embaixo delas*/
.div-container-1-secundario img {
    width: 8rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
}

/*Centralizando as divs*/
.div-container-1-secundario div {
    text-align: center;
}

/*Zerando o preenchimento e dando margem inferior no texto gabriel do container principal*/
.div-container-1-principal .gabriel {
    padding-bottom: 0;
    margin-bottom: 1rem;
}

/*Definindo largura do titulo gabriel, deixando todo o texto na mesma linha sem quebra e colocando estilização
para o nome sumir antes de passar o ponteiro*/
.gabriel {
    width: 8em;
    border-right: 2px solid white;
    padding-bottom: none;
    white-space: nowrap;
    overflow: hidden;
}

/*Fazendo animação para o ponteiro percorrer o espaço fazendo aparecer o nome*/
.typing-animation {
    animation: blinkCursor 1000ms infinite normal, typingg 2s steps(90) 1s normal both;
}

/*Dando a animação que faz o ponteiro ficar piscando*/
@keyframes blinkCursor {
    from {
        border-right-color: white;
    }

    to {
        border-right-color: transparent;
    }
}

/*Conplemento da animação que faz o ponteiro percorrer*/
@keyframes typingg {
    from {
        width: 0;
    }
    to {
        width: 8em;
    }
}


/* ---------------------------------- */

/*Fazendo textos que trocam ficar na mesma posição que o texto desenvolvedor*/
.container-desenvolvedor{
    display: inline-flex;
}

/*Dando margem ao texto desenvolvedor para ficar na mesma linha que os textos que trocam*/
.desenvolvedor-estatico {
    margin-top: 36px;
    font-size: 25px;
}

/*dando espaçamento entre as divs e aplicando a estilização para os os texto desapareçerem */
.container-desenvolvedor .dinamico {
    padding-left: 15px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
     
}

/*Dando cor aos textos que mudam, tirando o indicadores dos textos, alterando o tamanho da fonte e dando
a animação de ficar trocando de texto*/
.dinamico li {
    color:blueviolet;
    list-style: none;
    font-size: 2em;
    font-weight: 500;
    left: 0;
    position: relative;
    top: 0;
    animation: slide 6s steps(4) infinite normal;
}

/*Complemento da animação de troca de textos*/
@keyframes slide {
    100% {
        top: -360px;
    }
}

.dinamico li span {
    position: relative;
    font-size: 1.5rem;
}

/* retirando a imagem do container 1 para versão mobile  */
.container-1-lado-esquerdo {
    display: none;
}
/*TODOS OS CODIGOS ACIMA FORAM A ESTILIZAÇÃO DO CONTAINER 1-----------------------------------------*/




/*colocando cor no container 2 e dando espaçamento inferior*/
.container-2 {
    background-color: rgb(20, 19, 19);
    padding-bottom: 10rem;
}

/*Centralizando o titulo do container 2 e dando espaçamento em baixo*/
.container-2 h1{
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 2rem;
}

/*Formatação do texto e epaçamento ao redor do texto*/
.container-2 p {
    font-size: 20px;
    padding: 1rem;
    padding-bottom: 5rem;
    text-align: justify;
}
/*TODOS OS CODIGOS ACIMA FORAM A ESTILIZAÇÃO DO CONTAINER 2-----------------------------------------*/




/*Dando espaçamento na parte de cima do container 3*/
.container-3 {
    padding-top: 2rem;
}

/*Formatação do texto e epaçamento ao redor do texto*/
.container-3 h1 {
    text-align: center;
    margin-bottom: 2rem;
}

/*Centralização das imagens e espaçamento*/
.container-3 div {
    padding: 2.5rem;
    text-align: center;
}

/*Definindo a largura das imagens*/
.container-3 img {
    width: 5rem;
}

.icones-habilidades img {
    cursor: pointer;
}

/* centralizando o segundo div do container 3 e dando cor ao mesmo  */
.container-3 h2 {
    display: flex;
    justify-content: center;
    color: #00E6FF;
}
/*TODOS OS CODIGOS ACIMA FORAM A ESTILIZAÇÃO DO CONTAINER 3-----------------------------------------*/


.container-4 {
    width: 100%;
    height: auto;
    background-color: rgb(20, 19, 19);
    flex-direction:row;
    flex-flow: wrap;
}

.container-4 h1 {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.img-imagemcenter img {
    width: 18rem;
}

.img-imagemcenter  {
    display: flex;
    margin-bottom: 5rem;
}

.projeto-div:hover {
    background-color: #0000009d;
    
}

.projeto-div {
    background-color:transparent;
    width: 18rem;
    height: 12.3rem;
    position: absolute;
}

.projetos {
    margin: 1rem;
}

.projeto-div {
    display: flex;
    justify-content: center;
    align-items: end;
}

.projeto-div-menor {
    width: 3.5rem;
    padding: 0.3rem;
    padding-bottom: 0.5rem;
    height:0.8rem;
    background-color: rgb(32, 32, 32);
    color: white;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    margin: 0.2rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    
}

.projetos-h3 {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.projetos-h3 {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.3rem;
}

/* definindo as cores e deixando a fonte mais larga dos botões de preview e codigo  */
.menor3 {
    background-color: #00E6FF;
    color: black;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

/* dando largura a div de habilidade javascript  */
.menor4 {
    padding-left: 20px;
    padding-right: 20px;
}

/* tirando a linha de linkagem das tags a do botão de preview e codigo  */
.btn-projetos a {
    text-decoration: none;
}

/* Colocando um dos botões transparente  */
.projeto-div-menor-2 {
    display:none;
    background-color: transparent;
    border: 0;
}

.projeto-div-a1 div {
    display: flex;
    justify-content: center;
    
}

.container-4-pai {
    display: flex;
    justify-content: center;
    flex-direction:row;
    flex-flow: wrap;

}




/*TODOS OS CODIGOS ACIMA FORAM A ESTILIZAÇÃO DO CONTAINER 4-----------------------------------------*/




/*Centraliznado e dando margem no titulo do container 5*/
.container-5 h1 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

/*redefinindo a largura da imagem e dando espaçamento na margin de baixo*/
.container-5 img {
    width: 20rem;
    margin-bottom: 2rem;
}

/*centralizando a imagem*/
.container-5 div {
    text-align: center;
}
/*TODOS OS CODIGOS ACIMA FORAM A ESTILIZAÇÃO DO CONTAINER 5-----------------------------------------*/




/*Defindo a cor de fundo do footer*/
footer {
    background-color: rgb(32, 32, 32);
    border-top: 1px solid white;
}

/*dando tamanho a fonte e definindo a cor de fundo do texto*/
footer h2 {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

/*definindo a cor de fundo do texto*/
.contato-desenvolvedor{
    text-decoration: none;
    color: white;
}

/* dando a responsividade ao mudar do mobile para o desktop  */
.div-footer {
    flex-direction:row;
    flex-flow: wrap;
}



/*TODOS OS CODIGOS ACIMA FORAM A ESTILIZAÇÃO DO FOOTER MOBILE-----------------------------------------*/

/* Estilizando o Botão de Scroll para o topo da pagina  */
.scrollTop {
    outline: none;
    border: 0;
    background-color: transparent;
    width: 60px;
    height: 60px;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0px;
    bottom: 20px;
    z-index: 999;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease;
  }
  
  /* Estilizando quano ele ira aparacer  */
  .scrollTop.active {
    opacity: 1;
    visibility: visible;
  }
  
  /* Estilizando a largura da imagem e fazendo a rotação dela  */
  .scrollTop img {
    width: 50%;
    transform: rotate(-90deg);
  }
  






























/*---------------------------------------------------------------------------------------------------*
                 /*Daqui para baixo fica as Estilizações para versão Desktop*/



@media (min-width: 630px)
 {
/*Dando tamanho padrão a todas as tags de h1 de titulos*/
    * h1{
        font-size: 28px;
    }

/*Dando espaçamento lateral no header*/
    nav {
        padding-left: 2rem;
        padding-right: 6rem;
        margin-left: 4rem;
        margin-right: 4rem;
    }


/* Deixando as duas maiores divs do container 1 na mesma linha */
    .container-1 {
        display: flex;
    }     

/*Dando um maior espaçamento entre a parte principal e secundario do container 1*/
    .div-container-1-principal {
        padding-left: 2rem;
        padding-top: 1rem;
        margin-top: 7rem;
        margin-left: 5rem
    }

/*Dando tamanho personalizado a div desenvolvedor*/
    .desenvolvedor-estatico {
        font-size: 1.8em;
    }

/*Dando tamanho para o titulo de nome Gabriel*/
    .gabriel {
        font-size: 3rem;
    }

/*Dando um maior espaçamento entre a parte principal e secundario do container 1*/
    .div-container-1-secundario  {
        margin-left: -2rem;
        margin-bottom: 14rem;
        margin-top: 0rem; 
    }

/*Deixando as div do container 1 secundario uma do lado da outra com espaçamento*/
    .div-container-1-secundario div {
        display: inline;
        padding: 2rem;
        text-align: start;   
    }

/*alterando o tamanho para os links do perfil proficional ficar mais alto*/
    .div-container-1-secundario img {
        width: 10rem;
    }

    .container-1-lado-esquerdo img {
        width: 35rem;
        padding-left: 5rem;
        padding-top: 3rem;
    }
/*DAQUI PARA CIMA FICA A ESTILIZAÇÃO DO CONTAINER 1 PARA DESKTOP--------------------------------------------*/



/*Dando espaçamento inferior no container 2*/
    .container-2 h1 {
        text-align: center;
        margin-bottom: 5rem;
        padding-top: 2rem;
    }

/* centralizando o texto do container 2 e alguns espaçamentos */
    .container-2  {
        text-align: center;
        padding: 1.5rem;
        padding-bottom: 5rem;
        padding-top: 4rem;
    }

/* Definindo a largura da div do container 2 */
    .container-2 div {
        width: 100%;
        display: inline-flex;
    }

/*alterando o tamanho do paragrafo do container 2 - sobre mim*/
    .container-2 p {
        font-size: 19px;
        padding: 0;
        margin-right: 1rem;
        font-family:Arial, Helvetica, sans-serif;
    }

/* Definindo a altura da imagem do container 2, centralizando o o texto e dando espaçamento  */
    .container-2-foto {
        height: 30rem;
        margin-left: 1rem;
        width: 80%;
        text-align: center;
        justify-content: center;
    }
/*DAQUI PARA CIMA FICA A ESTILIZAÇÃO DO CONTAINER 2 PARA DESKTOP--------------------------------------------*/




/*Centralizando os itens do container 3 e dando espaçamento inferior*/
    .container-3  {
    text-align: center;
    padding-bottom: 20rem;
    padding-top: 8rem;

    }

/* Dando espaçamento inferior na div do container 3 */
    .container-3 div  {
        padding-bottom: 1rem;
    }

/*Deixando as divs do container 3 alinhados na mesma linha*/
    .logo-habilidade {
        display: inline;
        padding: 0;
    }

/*Dando espaçamento do titulo do container 3*/
    .container-3 h1 {
        padding-bottom: 3rem;
    }

/* Colocando uma linha no container 3 para separar os icones do texto, dando largura no container e centralizando os itens */
    .div-container-3 {
        border-bottom: 1px solid  #00E6FF;;
        width: 85%;
        display: inline-block;
        justify-content: center;
    }

/* removendo o container 3 para mobile da area desktop  */
.container-3-Mobile {
    display: none;
}


/*DAQUI PARA CIMA FICA A ESTILIZAÇÃO DO CONTAINER 3 PARA DESKTOP--------------------------------------------*/


.container-4 {
    width: 100%;
    height: 35rem;
    background-color: rgb(20, 19, 19);
}

.container-4 h1 {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.img-imagemcenter img {
    width: 18rem;
}

.img-imagemcenter  {
    display: flex;
}

.projeto-div:hover {
    background-color: #0000009d;
    
}

.projeto-div {
    background-color:transparent;
    width: 18rem;
    height: 12.3rem;
    position: absolute;
}

.projetos {
    margin: 1rem;
}

.projeto-div {
    display: flex;
    justify-content: center;
    align-items: end;
    
}

.projeto-div-menor {
    width: 3.5rem;
    padding: 0.3rem;
    padding-bottom: 0.5rem;
    height:0.8rem;
    background-color: rgb(32, 32, 32);
    color: white;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    margin: 0.2rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.projetos-h3 {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.projetos-h3 {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.3rem;
}

/* definindo as cores e deixando a fonte mais larga dos botões de preview e codigo  */
.menor3 {
    background-color: #00E6FF;
    color: black;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

/* dando largura a div de habilidade javascript  */
.menor4 {
    padding-left: 20px;
    padding-right: 20px;
}

/* tirando a linha de linkagem das tags a do botão de preview e codigo  */
.btn-projetos a {
    text-decoration: none;
}

/* Colocando um dos botões transparente  */
.projeto-div-menor-2 {
    display:none;
    background-color: transparent;
    border: 0;
}

.projeto-div-a1 div {
    display: flex;
    justify-content: center;
}

.container-4-pai {
    display: flex;
    justify-content: center;

}
/*Dando espaçamento inferior no container 5*/
    .container-5 {
        padding-bottom: 19rem;
        padding-top: 6rem;
    }
 }

    
/*DAQUI PARA CIMA FICA A ESTILIZAÇÃO DO CONTAINER 4 PARA DESKTOP--------------------------------------------*/


/* Centralizando as div do footer  */
.div-footer {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
}

/* dando margem as div do footer  */
.div-footer div {
    margin: 1rem;
}

/* Definindo o tamanho da imagem da div desenvolvedor do footer  */
.div-footer img {
    width: 4rem;
}

/* Centralizando e deixando as divs uma ao lado da outra  */
.desenvolvedor {
    display: flex;
    align-items: center;
}





/*DAQUI PARA CIMA FICA A ESTILIZAÇÃO DO FOOTER PARA DESKTOP--------------------------------------------*/
