/*---------------------------------------------------------------------------------------------------------------------*
                                /*DAQUI PARA BAIXO FICA A ESTILIZAÇÃO DO CSS GERAL*/

/*Definindo fonte padrão dos textos do site e zerando margem*/
*{
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
}

/*---------------------------Daqui Para baixo fica a estilização do HEADER----------------------------------*/

/* Defininfo a largura e retirando as margem do header  */
.wrapper {
    width: 100%;
    margin: 0 auto;
}

/* Definindo cor, dando esaçamento e centralizando os itens dentro da tag nav (menu-navegador)  */
nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: hsl(0, 0%, 0%);
}

/* Definindo a largura e dando margem a imagem que fai no menu de navegação  */
nav img  {
    width:6.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Deixando os item no menu de navegação um ao lado do outro, dando espaçamento com gap e tirando os topicos das listas  */
nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}
  
/* tirando o sublinhado dos links do menu de navegação  */
nav a {
    text-decoration: none;
}

nav #toggle,
nav label {
    display: none;
}

/* Defindo tamanho, margin interna e cores do texto e da borda dos itens do menu de navegação  */
.menu li {
    font-size: 1.2rem;
    border: 1px solid #00E6FF;
    background-color: transparent;
    border-radius: 1px 10px;
    color: #00E6FF;
    padding: 0.5rem;
}

/* definindo a cores que os itens do menu terão ao passar o mouse neles */
.menu li:hover {
    background-color: #00E6FF;
    color: white;
}

/* Deixando uma linha branca entre o header e o container 1  */
.linha {
    border-bottom: 1px solid white;
}



/*---------------------------Daqui Para baixo fica a estilização do BODY GERAL----------------------------------*/

/*Defindo cor da letra e do fundo do corpo do site pelo corpo (body)*/
body {
    background-color: rgb(0, 0, 0);
    color: white;
}



/*---------------------------Daqui Para baixo fica a estilização do CONTAINER 1 GERAL----------------------------------*/

/*dando margem ao primeiro container*/
.container-1 {
    padding: 8px;
    padding-left: 10px;
    margin-top: 10px;
}

/*dando espaçamento no texto principal do container 1*/
.div-container-1-principal  {
    margin-top: 3rem;
    margin-left: 1rem;
}

/*dando espaçamento em baixo do titulo do texto principal do container 1*/
.div-container-1-principal h1 {
    padding-bottom: 1rem;
}

/*Alterando o tamanho e a cor da tag H1 - nome Gabriel*/
.gabriel {
    color: #00E6FF;
    font-size: 35px;
}

/*dando espaçamento em cima do titulo do texto Secundario do container 1*/
.div-container-1-secundario {
    margin-top: 3rem;
    margin-bottom: 9rem;
    display: flex;
}

/*Definindo a largura das imagens e dando espaçamento embaixo delas*/
.div-container-1-secundario img {
    width: 8rem;
    margin-top: 2rem;
}

/*Centralizando as divs*/
.div-container-1-secundario div {
    text-align: center;
}

/*Zerando o preenchimento e dando margem inferior no texto gabriel do container principal*/
.div-container-1-principal .gabriel {
    padding-bottom: 0;
    margin-bottom: 1rem;
}

/*Definindo largura do titulo gabriel, deixando todo o texto na mesma linha sem quebra e colocando estilização
para o nome sumir antes de passar o ponteiro*/
.gabriel {
    width: 8em;
    border-right: 2px solid white;
    padding-bottom: none;
    white-space: nowrap;
    overflow: hidden;
}

/*Fazendo animação para o ponteiro percorrer o espaço fazendo aparecer o nome*/
.typing-animation {
    animation: blinkCursor 1000ms infinite normal, typingg 2s steps(90) 1s normal both;
}

/*Dando a animação que faz o ponteiro ficar piscando*/
@keyframes blinkCursor {
    from {
        border-right-color: white;
    }

    to {
        border-right-color: transparent;
    }
}

/*Conplemento da animação que faz o ponteiro percorrer*/
@keyframes typingg {
    from {
        width: 0;
    }
    to {
        width: 8em;
    }
}

/*Fazendo textos que trocam ficar na mesma posição que o texto desenvolvedor*/
.container-desenvolvedor{
    display: inline-flex;
}

/*Dando margem ao texto desenvolvedor para ficar na mesma linha que os textos que trocam*/
.desenvolvedor-estatico {
    margin-top: 36px;
    font-size: 25px;
}

/*dando espaçamento entre as divs e aplicando a estilização para os os texto desapareçerem */
.container-desenvolvedor .dinamico {
    padding-left: 15px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;   
}

/*Dando cor aos textos que mudam, tirando o indicadores dos textos, alterando o tamanho da fonte e dando
a animação de ficar trocando de texto*/
.dinamico li {
    color:#7a0a91;
    list-style: none;
    font-size: 2em;
    font-weight: 500;
    left: 0;
    position: relative;
    top: 0;
    animation: slide 6s steps(4) infinite normal;
}

/*Complemento da animação de troca de textos*/
@keyframes slide {
    100% {
        top: -360px;
    }
}

/* definindo o tamanho e posição dos texto que mudam do container 1  */
.dinamico li span {
    position: relative;
    font-size: 1.5rem;
}

/* Definindo cor de fundo que o botão ira ter ao passar o mouse  */
.div-container-1-secundario-linkedin:hover img {
    background-color: #00E6FF;
    border-radius: 5px;
}

/* Definindo cor de fundo que o botão ira ter ao passar o mouse  */
.div-container-1-secundario-github:hover img {
    background-color: #7a0a91;
    border-radius: 5px;
}



/*---------------------Daqui Para baixo fica a estilização do CONTAINER 2 GERAL--------------------------------*/

/*colocando cor no container 2 e dando espaçamento inferior*/
.container-2 {
    background-color: rgb(20, 19, 19);
    padding-bottom: 10rem;  
}

/*Centralizando o titulo do container 2 e dando espaçamento em baixo*/
.container-2 h1{
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 2rem;
}

/*Formatação do texto e epaçamento ao redor do texto*/
.container-2 p {
    font-size: 20px;
    padding: 1rem;
    padding-bottom: 5rem;
    text-align: justify;
}



/*----------------------Daqui Para baixo fica a estilização do CONTAINER 3 GERAL-------------------------------*/

/*Dando espaçamento na parte de cima do container 3*/
.container-3 {
    padding-top: 2rem;
}

/*Formatação do texto e epaçamento ao redor do texto*/
.container-3 h1 {
    text-align: center;
    margin-bottom: 2rem;
}

/*Centralização das imagens e espaçamento*/
.container-3 div {
    padding: 2.5rem;
    text-align: center;
}

/*Definindo a largura das imagens*/
.container-3 img {
    width: 5rem;
}

/* deixando o cursor do mouse com forma de clicagem ao passar o mouse  */
.icones-habilidades img {
    cursor: pointer;
}

/* centralizando o segundo div do container 3 e dando cor ao mesmo  */
.container-3 h2 {
    display: flex;
    justify-content: center;
    color: #00E6FF;
}

/* Configurando a movimentação dos botões de habilidades  */
@keyframes movimento {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

/* Definindo o tempo de movimento dos botões  */
.logo-habilidade img:hover {
    animation: movimento 1s;
}

/*----------------------Daqui Para baixo fica a estilização do CONTAINER 4 GERAL-------------------------------*/

/* Definifno a largura, altura, responsividade e cor do container 4  */
.container-4 {
    width: 100%;
    height: auto;
    background-color: rgb(20, 19, 19);
    flex-direction:row;
    flex-flow: wrap;
}

/* Centralizando o titulo do container 4 e dando margem inferior e superior  */
.container-4 h1 {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/* definindo o tamanho das imagens do container 4  */
.img-imagemcenter img {
    width: 18rem;
}

/* dando margem inferior a div imagemcenter  */
.img-imagemcenter  {
    display: flex;
    margin-bottom: 5rem;
}

/* definindo cor a pelicula que vai em cima da imagem da div imagemcenter ao passar o cursor  */
.projeto-div:hover {
    background-color: #0000009d;
}

/* definindo a largura, altura e deixando transparente a pelicula que vai em cima da imagem da div imagemcenter  */
.projeto-div {
    background-color:transparent;
    width: 18rem;
    height: 12.3rem;
    position: absolute;
}

/* dando margem a div projetos  */
.projetos {
    margin: 1rem;
}

/* Deixando centraliznado e um ao lado do outro os icones dentro da div projeto-div  */
.projeto-div {
    display: flex;
    justify-content: center;
    align-items: end;
}

/* Definindo as cores, largura, altura, espaçamento e centralização dos icones que estão dentro da div imagecenter  */
.projeto-div-menor {
    width: 3.5rem;
    padding: 0.3rem;
    padding-bottom: 0.5rem;
    height:0.8rem;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    margin: 0.2rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

/* Dando espaçamento, centralizando, definindo cor e tamanho da fonte o titulo que vai dentro de div imagemcenter  */
.projetos-h3 {
    text-align: center;
    padding: 0.3rem;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.3rem;
}

/* definindo as cores e deixando a fonte mais larga dos botões de preview e codigo  */
.menor3 {
    background-color: #00E6FF;
    color: black;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

/* dando largura a div de habilidade javascript  */
.menor4 {
    padding-left: 20px;
    padding-right: 20px;
}

/* tirando a linha de linkagem das tags a do botão de preview e codigo  */
.btn-projetos a {
    text-decoration: none;
}

/* Definindo as cores dos botão que vão dentro da div imagemcenter  */
.menor3 {
    border: 1px solid #00E6FF;
    background-color: transparent;
    border-radius: 1px 10px;
    color: #00E6FF;
}

/* Definindo as cores que o botão tera ao passar o mouse dentro da div imagemcenter  */
.menor3:hover {
    background-color: #00E6FF;
    color: white;
}

/* Centraliznado e deixando um ao lado do outro os icones que tem dentro da div imagemcenter  */
.projeto-div-a1 div {
    display: flex;
    justify-content: center;
}

/* Deixando o container 4 pai responsivo e centralizado  */
.container-4-pai {
    display: flex;
    justify-content: center;
    flex-direction:row;
    flex-flow: wrap;
}



/*----------------------Daqui Para baixo fica a estilização do FOOTER GERAL-------------------------------*/

/*Defindo a cor de fundo do footer*/
footer {
    background-color: rgb(20, 19, 19);
    border-top: 1px solid white;
}

/*dando tamanho a fonte e definindo a cor de fundo do texto*/
footer h2 {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

/*definindo a cor de fundo do texto*/
.contato-desenvolvedor{
    text-decoration: none;
    color: white;
}

/* dando a responsividade ao mudar do mobile para o desktop  */
.div-footer {
    flex-direction:row;
    flex-flow: wrap;
}



/*------------------Daqui Para baixo fica a estilização do SCROLL DE ROLAGEM GERAL--------------------------*/

/* Estilizando o Botão de Scroll para o topo da pagina  */
.scrollTop {
    outline: none;
    border: 0;
    background-color: transparent;
    width: 60px;
    height: 60px;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0px;
    bottom: 20px;
    z-index: 999;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease;
}
  
/* Estilizando quano ele ira aparacer  */
.scrollTop.active {
    opacity: 1;
    visibility: visible;
}
  
/* Estilizando a largura da imagem e fazendo a rotação dela  */
.scrollTop img {
    width: 50%;
    transform: rotate(-90deg);
}



/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/



/*---------------------------------------------------------------------------------------------------*
                        /*DAQUI PARA BAIXO FICA A ESTILIZAÇÃO MOBILE/

                        
/*---------------------------------------------------------------------------------------------------*/
/*------------------Daqui Para baixo fica duas configurações do nav de responsividade----------------*/

/* Retirando o espaçamento dos topicos do menu de navegação  */
@media (max-width: 1001px){
    nav ul { 
        gap: 1rem;
    }
}

/* Diminuindo o tamanho e dando uma margin inferior nos itens do menu de navegação  */
@media (max-width: 905px){
    .menu li {
        font-size: 0.7rem;
        margin-bottom: 2px;
    }
}



/*------------------DAQUI PARA BAIXO COMEÇA A ESTILIZAÇÃO MOBILE DE 630PX PARA BAIXO--------------------------*/

@media (max-width: 630px)
{

/*------------------Daqui Para baixo fica a estilização do HEADER MOBILE--------------------------*/

/* Definindo a largura, altura e deixando os itens na mesma linha do menu de navegação  */
nav .menu {
      width: 100%;
      height: 0;
      overflow: hidden;
}

.menu li {
    border: 0;
    border-radius: 0;
    font-size: 1rem;
}

/* Dando margem e espaçamento ao menu de navegação */
nav {
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Deixando os itens do menu de navegação um em cima do outro, centralizando e dando margem interna  */
nav ul {
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0;
}

/* Dando cor e deixando o cursor com um formato que clicagem  */
nav label {
  display: inline-flex;
  color: white;
  cursor: pointer;
}

/* Definindo a largura da imagem do logo do menu de navegação  */
nav label img {
  width: 3rem;
}

/* zerando a margem da imagem do menu de navegação  */
nav img  {
  margin-right: 0;
}

/* Deixando a altura do menu de navegação em 100%  */
nav #toggle:checked ~ .menu {
  height: 100%;
}



/*------------------Daqui Para baixo fica a estilização do CONTAINER 1 MOBILE--------------------------*/

/* retirando a imagem do container 1 para versão mobile  */
.container-1-lado-direito {
    display: none;
  }



/*------------------Daqui Para baixo fica a estilização do CONTAINER 2 MOBILE--------------------------*/

/* Retirando a imagem do container 2 que fica a esquerda  */
.container-2-foto {
  display: none;
}

/*------------------Daqui Para baixo fica a estilização do CONTAINER 3 MOBILE--------------------------*/

/* Retirando o container 3 desktop do mobile  */
.container-3-desktop{
  display: none;
}

/* Definindo o tamanho dos titulos h2 do container 3 mobile  */
.container-3 h2 {
  font-size: 1rem;
}

/* Deixando os itens da descrição de habilidades um em baixo do outro e centralizando  */
.descricao-icones-hab2 {
    display: grid;
    justify-content: center;
}

/* Definindo o tamanho da largura, a posição  na vertical e horizontal da primeira descrição  */
.descricao1-2  {
    width:150%;
    position: relative;
    right: 5.5rem;
    font-size: 1.2rem;
    bottom: 1.5rem;
}

/* Definindo o tamanho da largura, a posição  na vertical e horizontal da segunda descrição  */
.descricao2-2 {
    width:150%;
    position: relative;
    right: 5.5rem;
    font-size: 1.2rem;
    bottom: 1.5rem;
}

/* Definindo o tamanho e a cor do titulo das descrições  */
.desc-1-2-titulo {
    font-size: 1.6rem;
    color: #00E6FF;
}

}

/*------------------DAQUI PARA BAIXO COMEÇA A ESTILIZAÇÃO MOBILE DE 430PX PARA BAIXO--------------------------*/

@media (max-width: 430px){
    .container-desenvolvedor  {
        display: grid;
        justify-content: start;
        text-align: center;
        padding-left: 2rem;
    }
    .container-desenvolvedor div {
        padding-left: 1rem;
    }
}

/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/



/*---------------------------------------------------------------------------------------------------*
                 /*DAQUI PARA BAIXO FICA A ESTILIZAÇÃO DESKTOP PARA TUDO ACIMA DE 630PX*/

@media (min-width: 630px)
{

/*------------------Daqui Para baixo fica a estilização do HEADER DESKTOP--------------------------*/
/*Dando tamanho padrão a todas as tags de h1 de titulos*/
* h1{
    font-size: 28px;
}

/*Dando espaçamento lateral no header*/
nav {
    padding-left: 2rem;
    padding-right: 6rem;
    margin-left: 4rem;
    margin-right: 4rem;
}



/*------------------Daqui Para baixo fica a estilização do CONTAINER 1 DESKTOP--------------------------*/

/* Deixando as duas maiores divs do container 1 na mesma linha */
.container-1 {
    display: flex;
}     

/*Dando um maior espaçamento entre a parte principal e secundario do container 1*/
.div-container-1-principal {
    padding-left: 2rem;
    padding-top: 1rem;
    margin-top: 7rem;
    margin-left: 5rem
}

/*Dando tamanho personalizado a div desenvolvedor*/
.desenvolvedor-estatico {
    font-size: 1.8em;
}

/*Dando tamanho para o titulo de nome Gabriel*/
.gabriel {
    font-size: 3rem;
}

/*Dando um maior espaçamento entre a parte principal e secundario do container 1*/
.div-container-1-secundario  {
    margin-left: -2rem;
    margin-bottom: 14rem;
    margin-top: 0rem; 
}

/*Deixando as div do container 1 secundario uma do lado da outra com espaçamento*/
.div-container-1-secundario div {
    display: inline;
    padding: 2rem;
    text-align: start;   
}

/*alterando o tamanho para os links do perfil proficional ficar mais alto*/
.div-container-1-secundario img {
    width: 10rem;
}

/* definindo a largura e as pargem do imagem do lado direita do container 1  */
.container-1-lado-direito img {
    width: 35rem;
    margin-left: 8rem;
    padding-top: 3rem;
}

/* Fazendo com que o conteudo da div não vaze  */
.container-1-lado-direito {
    overflow: hidden;
}

/* Dando um animação para a imagem que ira ser animado com 3 segundo ao passar o mouse  */
.container-1-lado-direito img {
    transition: all 0.3s;
    box-sizing: border-box;
}

/* Girando a imagem ao passar o mouse sobre ela  */
.container-1-lado-direito:hover img {
    transform: scale(1.3) rotate(90deg);
}


/*------------------Daqui Para baixo fica a estilização do CONTAINER 2 DESKTOP--------------------------*/

/*Dando espaçamento inferior no container 2*/
.container-2 h1 {
    text-align: center;
    margin-bottom: 5rem;
    padding-top: 2rem;
}

/* centralizando o texto do container 2 e alguns espaçamentos */
.container-2  {
    text-align: center;
    padding-bottom: 5rem;
    padding-top: 4rem;     
}

/* Definindo a largura da div do container 2 */
.container-2 div {
    width: 85%;
    display: inline-flex;
}

/*alterando o tamanho do paragrafo do container 2 - sobre mim*/
.container-2 p {
    font-size: 19px;
    padding: 0;
    margin-right: 1rem;
    font-family:Arial, Helvetica, sans-serif;
}

/* Definindo a altura da imagem do container 2, centralizando o o texto e dando espaçamento  */
.container-2-foto {
    height: 30rem;
    margin-left: 1rem;
    width: 80%;
    text-align: center;
    justify-content: center;
}



/*------------------Daqui Para baixo fica a estilização do CONTAINER 3 DESKTOP--------------------------*/

/*Centralizando os itens do container 3 e dando espaçamento inferior*/
.container-3  {
    text-align: center;
    padding-bottom: 20rem;
    padding-top: 8rem;
}

/* Dando espaçamento inferior na div do container 3 */
.container-3 div  {
    padding-bottom: 1rem;
}

/*Deixando as divs do container 3 alinhados na mesma linha*/
.logo-habilidade {
    display: inline;
    padding: 0;
}

/*Dando espaçamento do titulo do container 3*/
.container-3 h1 {
    padding-bottom: 3rem;
}

/* Colocando uma linha no container 3 para separar os icones do texto, dando largura no container e centralizando os itens */
.div-container-3 {
    border-bottom: 1px solid  #00E6FF;;
    width: 85%;
    display: inline-block;
    justify-content: center;
}

/* removendo o container 3 para mobile da area desktop  */
.container-3-Mobile {
    display: none;
}

 /* Deixando as div de descrição dos icones das habilidade uma do lado da outra, centralizando e definindo o tamanho da fonte  */
 .descricao-icones-hab {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

/* Definindo a largura da div do lado esquerdo da descrição das habilidades  */
.descricao1 {
    width: 30%;
}

/* Definindo a largura da div do lado direito da descrição das habilidades  */
.descricao2 {
    width: 30%;
}

/* Definindo o tamanho e a cor da fonte do titulo da descrição do lado esquerdo  */
.desc-1-titulo {
    font-size: 1.6rem;
    color: #00E6FF;
}

/* Tirando a margem interior das crescrições de habilidades  */
#b1, #b2, #b3, #b4, #b5, #b6, #b7 {
    padding: 0;
}



/*------------------Daqui Para baixo fica a estilização do CONTAINER 4 DESKTOP--------------------------*/

/* Definindo a largura, altura e a cor de fundo do container 4  */
.container-4 {
    width: 100%;
    height: 45rem;
    background-color: rgb(20, 19, 19);
}

/* Centralizando os titulos h1 do container 4 e dando margem interna superior e inferior  */
.container-4 h1 {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/* defindo a largura da imagem da div imagemcenter  */
.img-imagemcenter img {
    width: 18rem;
}

/* Dando display flex a div imagemcenter img  */
.img-imagemcenter  {
    display: flex;
}

/* Dafindo a cor que a pelica por cima da div imagem center tera ao passar o mouse  */
.projeto-div:hover {
    background-color: #0000009d;
}

/* Definindo a largura, altura, posição e deixando a cor transparente da pelicula que vai em cima da div imagemcenter  */
.projeto-div {
    background-color:transparent;
    width: 18rem;
    height: 12.3rem;
    position: absolute;
}

/* Defindino a margem que os proejtos terão  */
.projetos {
    margin: 1rem;
}

/* Deixando as divs dos projetos uma ao lado da outra e centralizando  */
.projeto-div {
    display: flex;
    justify-content: center;
    align-items: end;
}

/* Definindo as cores, largura, altura, espaçamento e centralização dos icones que estão dentro da div imagecenter  */
.projeto-div-menor {
    width: 3.5rem;
    padding: 0.3rem;
    padding-bottom: 0.5rem;
    height:0.8rem;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    margin: 0.2rem;
    border-radius: 5px;
    margin-bottom: 0.6rem;
}

/* Definindo o aredondamento das bordas dos botões da div imagemcenter */
.menor3 {
    border-radius: 1px 10px ;
}

/* Dando espaçamento, centralizando, definindo cor e tamanho da fonte o titulo que vai dentro de div imagemcenter  */
.projetos-h3 {
    text-align: center;

    color:#ffffff;
    font-weight:bolder;
    font-size: 1.3rem;
}

.projetos-h3-modelo{
    color: white;
    background-color: rgb(238, 12, 5);
    border-radius: 5px;
    padding: 5px;
}
/* definindo as cores e deixando a fonte mais larga dos botões de preview e codigo  */
.menor3 {
    border: 1px solid #00E6FF;
    background-color: transparent;
    color:#00E6FF;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

/* Definindo as cores que o botão tera ao passar o mouse dentro da div imagemcenter  */
.menor3:hover {
    background-color: #00E6FF;
    color: white;
}

/* dando largura a div de habilidade javascript  */
.menor4 {
    padding-left: 20px;
    padding-right: 20px;
}

/* tirando a linha de linkagem das tags a do botão de preview e codigo  */
.btn-projetos a {
    text-decoration: none;
}

/* Centraliznado e deixando um ao lado do outro os icones que tem dentro da div imagemcenter  */
.projeto-div-a1 div {
    display: flex;
    justify-content: center;
}

/* Deixando o container 4 pai responsivo e centralizado  */
.container-4-pai {
    display: flex;
    justify-content: center;
}

 }



/*------------------Daqui Para baixo fica a estilização do FOOTER DESKTOP--------------------------*/

/* Centralizando as div do footer  */
.div-footer {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
}

/* dando margem as div do footer  */
.div-footer div {
    margin: 1rem;
}

/* Definindo o tamanho da imagem da div desenvolvedor do footer  */
.div-footer img {
    width: 4rem;
}

/* Centralizando e deixando as divs uma ao lado da outra  */
.desenvolvedor {
    display: flex;
    align-items: center;
}



/* ----------------------  */

.projetos-h3-2 {
    color: rgb(255, 255, 255);
    font-weight:900;
}

.projeto-div-a1 h3 {
    font-weight: bolder;
    background-color: #2e0183;
    margin: 0;
    margin: 0;
}